html, body {
  hyphens: auto;
  -epub-hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  adobe-hyphenate: auto;
}

h1, .chapter-title {
  hyphens: none;
  -epub-hyphens: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  adobe-hyphenate: none;
}

h1, .center {
  text-align: center;
}

p {
  text-indent: 0;
  margin: 0;
}

p.indented {
  text-indent: 3em;
}

p.double {
  margin-top: 1.15em;
}

img {
  margin: 0;
  padding: 0;
  max-width: 90%;
}

.authors-note {
  /* Intended to mimic the native appearance of A/N's on Fimfiction. */
  margin: 0;
  margin-bottom: 1.15em;
	padding: 1em;
	background: #e7e7e7;
	border-radius: 3px;
	border: 1px solid #ccc;
}

* + .authors-note {
  margin-top: 1.15em;
  margin-bottom: 0;
}
