.center {
  text-align: center;
}

p {
  margin: 0;
}

img {
  margin: 0;
  padding: 0;
  max-width: 90%;
}

.generated-author-attribution {
  font-weight: bold;
  font-size: 1.1em;
}

.generated-fimfiction-link {
  font-style: italic;
}

.authors-note {
  /* Intended to mimic the native appearance of A/N's on Fimfiction. */
  margin: 1.15em 0;
  padding: 1em;
  background: #e7e7e7;
  border-radius: 3px;
  border: 1px solid #ccc;
}

{{ CUSTOM_CSS }}
