.center {
  text-align: center;
}

p {
  text-indent: 0;
  margin: 0;
}

p.indented {
  text-indent: 3em;
}

/* Mostly a bunch of selectors from Fimfiction itself. */
.generated-author-attribution,
.bbcode-center, .embed-container,
p, blockquote, hr, ul, ol, pre, figure,
h1, h2, h3, h4, h5, h6,
.imgur-embed-iframe-pub, .oembed,
.story-embed, .bbcode__block,
.bbcode-right, .excerpt, .plaque {
  margin-top: 1.15em;
}

img {
  margin: 0;
  padding: 0;
  max-width: 90%;
}

.generated-author-attribution {
  font-weight: bold;
  font-size: 1.1em;
}

.generated-fimfiction-link {
  font-style: italic;
}

.authors-note {
  /* Intended to mimic the native appearance of A/N's on Fimfiction. */
  margin: 1.15em 0;
	padding: 1em;
	background: #e7e7e7;
	border-radius: 3px;
	border: 1px solid #ccc;
}

{{ CUSTOM_CSS }}
